html {
  font: sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
  background: #9ccbd5;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: none;
  background-color: #7ea3ac;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.input {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  background-color: #ffffff;
  color: #0c3954;
  text-align: right;
  padding-top: 13px;
  padding-right: 20px;
  padding-left: 10px;
}

button {
  height: 60px;
  border-radius: 3px;
  border: none;
  background-color: #0c3954;
  font-size: 2rem;
  color: white;
}

button:hover {
  background-color: #0c38549a;
}

.operator {
  color: #ffce4c;
}

.clear {
  background-color: #ffce4c;
  color:#0c3954;
}

.clear:hover {
  background-color: #ffcf4c65;
}

.equal {
  background-color: #0c3954;
  color: #fff;
  height: 100%;
  grid-area: 2 / 4 / 6 / 5;
}

.equal:hover {
  background-color: #0c38549a;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}